html
  body
    block content
      h1= title
      p Welcome to #{title}
        div
          a(href="/fbposts") fbposts
        div
          a(href="/train") train
        div
          a(href="/forum") forum
